<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
		
	</startup>
	<appSettings>
		<add key = "内存" value="getMemory" />
		<add key = "cpu" value="getcpu" />
		<add key = "壁纸" value="setNextWallpaperGallerys" />
		<add key = "添加备忘录" value="m_add" />
		<add key = "删除备忘录" value="m_del" />
		<add key = "完成备忘录" value="m_change" />
		<add key = "查询备忘录" value="m_find" />
		<add key = "清空备忘录" value="m_clear" />
	</appSettings>
</configuration>
